header{
  display: flex;
  justify-content: space-between;
  align-items: anchor-center;
  margin: 10px;
  ul{
    display: flex;
    
  }
  .button1{
    background-color: red;
    color: white;
    padding: 15px 40px;
    margin-right: 15px;
  }
  .button2{
    background-color: green;
    color: white;
    padding: 15px 40px;

  }
}
