body{
  max-width: 1600px;
}
header{
  .sec_1{
    display: flex;
    justify-content: space-between;
    align-items: anchor-center;
    margin: 20px;
    margin-left: 50px;
    ul{
      display: flex;
    }
    .button1{
      background-color: red;
      color: white;
      padding: 25px 80px;
      margin-right: 25px;
      font-size: 20px;
    }
    .button2{
      background-color: green;
      color: white;
      padding: 25px 80px;
      font-size: 20px;
    }
  }
  .sec_2{
    display: flex;
    place-content: space-between;
    margin: 50px 350px;
    font-size: 20px;
  }
  img{width: 100%;}
}